[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-django = "*"
coverage = "*"
asgiref = "*"
black = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
cryptography = "*"
distlib = "*"
dj-rest-auth = "*"
django = "*"
django-allauth = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
filelock = "*"
flake8 = "*"
idna = "*"
inflection = "*"
iniconfig = "*"
isort = "*"
mccabe = "*"
mypy-extensions = "*"
oauthlib = "*"
packaging = "*"
pathspec = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pygments = "*"
pyjwt = "*"
python-dotenv = "*"
python-json-logger = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
sqlparse = "*"
structlog = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"

[requires]
python_version = "3.13"
